@model VirusDatabaseNew.Variant

@{
    ViewData["Title"] = "Видалити";
}

<h1>Видалення штаму</h1>

<h3>Ви впевнені, що хочете видалити штам @Html.DisplayFor(model => model.VariantName)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariantOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariantOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariantDateDiscovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariantDateDiscovered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Virus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Virus.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Так" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
